@media (max-width:991px) {

    .navigation-wrap {
        text-align: center;
        background-color: var(--white-color);
    }


}

/* ---------------------------------- */
@media (max-width:768px) {
    .navigation-wrap {
        text-align: center;
        background-color: var(--white-color);
    }



    /* Story Section */
    .story-section {
        height: auto;
        padding: 48px 0;
    }

    .newsletter {
        width: 90%;
    }

}

/* ---------------------------------------- */
@media (max-width:430px) {

    .top-banner {
        width: 100%;
        background: url('images/bg/bg-5.jpg') no-repeat;
        background-position: bottom;
        /* background-size: 1000px; */

        padding: 100px 0 200px;
    }


    .top-banner h1{
        /* color: var(--white-color); */
        font-weight: 600;
    } 

    .top-banner p{
        font-size: 18px;
    }

    /*-----News Letter------*/

    .newsletter{
        width: 90%;
    }


    .newsletter .main-btn {
        width: 50%;
        margin: 10px;
    }


    /*------Footer Section--------*/
    .footer-section .footer-link {
        color: var(--white-color);
        font-size: 15px;
        padding: 0 18px;
    }


    .footer-section a i {
        padding: 0 20px;
        font-size: 20px;
        color: var(--white-color);
    }
    
    /*------Reviews Section--------*/

    .reviews-section .carousel-item{
        /* border: 2px solid black; */
        padding: 230px 0;

    }

    .reviews-section .carousel-item .carousel-caption p{
        font-size: 15px;
    }

    .reviews-section .carousel-item .carousel-caption img{
        /* max-width: 40px; */
        margin-bottom: 10px;
        margin-left: 80px;
        border-radius: 50%;
    }

     /*------Footer Section--------*/
}

/* ---------------------------- */

@media (max-width:375px) {


    .navigation-wrap {
        text-align: center;
        background-color: var(--white-color);
    }



    /* Story Section */
    .story-section {
        height: auto;
        padding: 48px 0;
    }

    .reviews-section .carousel-item .carousel-caption p{
        font-size: 15px;
    }

    .reviews-section .carousel-item .carousel-caption img{
        max-width: 90px;
        margin-bottom: 10px;
        margin-left: 50px;
        border-radius: 50%;
    }

    .footer-section .footer-link {
        color: var(--white-color);
        font-size: 15px;
        padding: 0 08px;
    }


    .footer-section a i {
        padding: 0 15px;
        font-size: 20px;
        color: var(--white-color);
    }

    .book-food h2{
        font-size: 28px;
    }


    .news-letter h2{
        font-size: 30px;
    }

    .about-section h2{
        font-size: 30px;
    }

    .story-section h2{
        font-size: 30px;
    }

    .top-banner h1{
        font-size: 40px;
    }

}

/* ----------------------------------------------- */